<Ui xmlns="http://www.blizzard.com/wow/ui/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.blizzard.com/wow/ui/ C:\Projects\WoW\Bin\Interface\FrameXML\UI.xsd">

	<Frame name="LAR_SettingsFrame" toplevel="true" frameStrata="DIALOG" movable="true"
		enableMouse="true" hidden="true" parent="UIParent">
		<TitleRegion setAllPoints="true" />
		<Size>
			<AbsDimension x="260" y="280" />
		</Size>
		<Anchors>
			<Anchor point="CENTER" />
		</Anchors>
		<Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background"
			edgeFile="Interface\DialogFrame\UI-DialogBox-Border"
			tile="true">
			<BackgroundInsets>
				<AbsInset left="11" right="12" top="12" bottom="11" />
			</BackgroundInsets>
			<TileSize>
				<AbsValue val="32" />
			</TileSize>
			<EdgeSize>
				<AbsValue val="32" />
			</EdgeSize>
		</Backdrop>

		<Layers>
			<Layer level="ARTWORK">
				<Texture name="TitleTexture" file="Interface\DialogFrame\UI-DialogBox-Header">
					<Size>
						<AbsDimension x="320" y="64" />
					</Size>
					<Anchors>
						<Anchor point="TOP">
							<Offset>
								<AbsDimension x="0" y="12" />
							</Offset>
						</Anchor>
					</Anchors>
				</Texture>
				<FontString inherits="GameFontNormal" text="Lazy Ass Rotation Settings">
					<Anchors>
						<Anchor point="TOP" relativeTo="TitleTexture">
							<Offset>
								<AbsDimension x="0" y="-14" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>

		<Frames>

			<!-- Spec Selection Side Dropdown -->
			<Frame name="LAR_SpecDropdown" inherits="UIDropDownMenuTemplate">
				<Layers>
					<Layer level="ARTWORK">
						<FontString inherits="GameFontNormalSmall" text="Specs Expand Direction">
							<Anchors>
								<Anchor point="LEFT" relativePoint="TOP">
									<Offset>
										<AbsDimension x="0" y="10" />
									</Offset>
								</Anchor>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Anchors>
					<Anchor point="TOPLEFT">
						<Offset>
							<AbsDimension x="20" y="-60" />
						</Offset>
					</Anchor>
				</Anchors>
			</Frame>

			<!-- Module Selection Side Dropdown -->
			<Frame name="LAR_ModuleDropdown" inherits="UIDropDownMenuTemplate">
				<Layers>
					<Layer level="ARTWORK">
						<FontString inherits="GameFontNormalSmall" text="Modules Expand Direction">
							<Anchors>
								<Anchor point="LEFT" relativePoint="TOP">
									<Offset>
										<AbsDimension x="0" y="10" />
									</Offset>
								</Anchor>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Anchors>
					<Anchor point="TOPLEFT">
						<Offset>
							<AbsDimension x="20" y="-110" />
						</Offset>
					</Anchor>
				</Anchors>
			</Frame>

			<!-- Checkbox: Show Current Using Spell -->
			<CheckButton name="LAR_ShowSpellCheckbox" inherits="UICheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT">
						<Offset>
							<AbsDimension x="24" y="-160" />
						</Offset>
					</Anchor>
				</Anchors>
				<Scripts>
					<OnLoad>
						getglobal(this:GetName().."Text"):SetText("Show Current Using Spell");
					</OnLoad>
					<OnClick>
						LAR_ToggleShowCurrentSpell(this:GetChecked());
					</OnClick>
				</Scripts>
			</CheckButton>

			<!-- Checkbox: Lock HotSwap Button -->
			<CheckButton name="LAR_LockHotSwapButtonCheckbox" inherits="UICheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT">
						<Offset>
							<AbsDimension x="24" y="-190" />
						</Offset>
					</Anchor>
				</Anchors>
				<Scripts>
					<OnLoad>
						getglobal(this:GetName().."Text"):SetText("Lock HotSwap Button");
					</OnLoad>
					<OnClick>
						LAR_ToggleLockHotSwapButtonCheckbox(this:GetChecked());
					</OnClick>
				</Scripts>
			</CheckButton>

			<!-- Close Button -->
			<Button name="LAR_CloseButton" inherits="GameMenuButtonTemplate" text="Close">
				<Size>
					<AbsDimension x="100" y="24" />
				</Size>
				<Anchors>
					<Anchor point="BOTTOM">
						<Offset>
							<AbsDimension x="0" y="20" />
						</Offset>
					</Anchor>
				</Anchors>
				<Scripts>
					<OnClick>
						LAR_SettingsFrame:Hide();
					</OnClick>
				</Scripts>
			</Button>
		</Frames>
	</Frame>
</Ui>